---
---
@import 'reset';
@import 'layout';

body {
	background-color: #f9f9f9;
	font-family: "Hind";
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3em;

	> header {
		background-color: #0065bd;

		.row {
			&:first-child {
				padding-top: 28px;
			}

			padding-bottom: 16px;
		}

		nav {
			ul {
				margin: 16px 0 0 0;
				font-size: 1.2em;
				list-style-type: none;

				li {
					display: inline-block;
					margin-right: 1.5em;
					margin-bottom: 0.5em;

					a {
						color: #fff;
						text-shadow: none;
					}
				}
			}
		}
	}

	> footer {
		background-color: #0065bd;
		color: #fff;

		h1 {
			font-size: 1.5em;
			margin-bottom: 1em;
		}

		a {
			color: #a2cff7;
			text-shadow: none;
		}
	}
}

p {
	margin-bottom: 1em;
}

ul {
	margin-left: 1.5em;
	list-style-type: disc;
	margin-bottom: 1.5em;
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

a {
	color: #2188e2;
	text-decoration: none;
	text-shadow: #eaf1f7 1px 1px;

	&:hover {
		text-decoration: underline;
	}

	&.button {
		color: #fff;
		background-color: #0065bd;
		padding: 2px 12px;
		border-radius: 4px;
		text-shadow: none;
	}
}

main {
	h1 {
		font-size: 1.5em;
		margin-bottom: 1em;
	}

	h2 {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
}

h1.title {
	width: 140px;
	margin-bottom: 16px;
	font-size: 60px;
	font-weight: 500;
	line-height: 1em;

	a {
		color: #fff;
		text-shadow: none;

		&:hover {
			text-decoration: none;
		}
	}

	span {
		display: block;
		text-transform: lowercase;
		font-size: 32px;
		font-weight: 300;
		line-height: 0.8em;
	}
}

section h1 {
	margin-bottom: 12px;
	font-family: "Raleway";
	font-weight: 200;
	text-transform: uppercase;
}

.sponsors {
	text-align: center;

	h1 {
		font-size: 1em;
	}

	ul {
		margin-left: 0;
		list-style-type: none;

		li {
			margin-top: 20px;

			img {
				max-width: 180px;
				max-height: 80px;
			}
		}
	}
}

ul.social {
	@include clearfix;

	margin: 0;
	list-style-type: none;

	li {
		float: left;
		margin-right: 16px;

		img {
			width: 38px;
		}
	}
}

section.upcoming, section.previous {
	hgroup {
		h2 {
			margin-bottom: 8px;
			font-family: "Raleway";
			font-weight: 200;
			text-transform: uppercase;
		}

		h1 {
			margin-bottom: 16px;
			font-family: "Raleway";
			font-weight: 200;
			font-size: 32px;
			text-transform: none;
			line-height: 1.1em;
		}
	}

	.row .row {
		padding-bottom: 0;
	}
}

section.upcoming {
	background-color: #efefef;
	color: #000;
}

.location {
	margin-bottom: 32px;

	img {
		position: relative;
		top: 3px;
		margin: 0 2px 0 2px;
	}
}

.map {
	a {
		width: 100%;
		height: 276px;
		max-width: 625px;
		display: block;
		border: 8px solid #dcdcdc;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background-position: center;
	}
}

.thumbnail {
	margin-bottom: 1em;

	img {
		display: block;
		width: 100%;
		border: 8px solid #e6e6e6;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	&.mini img {
		width: 120px;
		border: 4px solid #e6e6e6;
		margin-right: 16px;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	&.video {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			z-index: 100;
			display: block;
			width: 100%;
			height: 100%;
			background-image: url("/images/video-overlay.png");
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0.3;
		}

		&:hover::before {
			opacity: 0.45;
		}
	}
}

.column-4 .column-2:first-child {
	margin-left: 0;
}

.volunteers > section {
	.profile-photo {
		float: left;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 1em;

		img {
			width: 100%;
			height: 100%;
		}
	}

	h1 {
		font-size: 1em;
		font-weight: bold;
		margin: 0.5em 0;
	}

	ul {
		margin-left: 0;
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 1em;
		}
	}
}

.mentors {
	background-color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 1em 0;
	border-radius: 5px;

	> li {
		margin-bottom: 1em;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: 0;
		}
	}

	section {
		div > * {
			padding: 0 1em;
		}

		&.row {
			padding: 0;
		}

		h1 {
			font-weight: bold;
			font-size: 1.2em;
			text-transform: none;
		}

		p {
			margin-bottom: 0.5em;
		}

		ul {
			list-style-type: none;
			margin: 0;

			li {
				display: inline-block;
				margin-right: 1em;
				margin-bottom: 1em;
			}
		}
	}
}

@media (max-width: upper-limit(flow)) {
	body .column-2 {
		margin-bottom: 0;
	}
}
