/* line 5, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../../_compass/_layout.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  margin-left: -45px;
  padding-bottom: 2.5em;
}
@media (max-width: 1020px) {
  /* line 37, ../../_compass/_layout.scss */
  .row {
    margin-left: -35px;
  }
}
@media (max-width: 760px) {
  /* line 37, ../../_compass/_layout.scss */
  .row {
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  /* line 37, ../../_compass/_layout.scss */
  .row {
    padding-bottom: 2.5em;
  }
}
/* line 52, ../../_compass/_layout.scss */
.row:first-child {
  padding-top: 2.5em;
}
@media (max-width: 400px) {
  /* line 52, ../../_compass/_layout.scss */
  .row:first-child {
    padding-top: 2.5em;
  }
}

/* line 74, ../../_compass/_layout.scss */
.column-1 {
  float: left;
  margin-left: 45px;
  width: 290px;
}
@media (max-width: 1020px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-1 {
    margin-left: 35px;
  }
}
@media (max-width: 760px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-1 {
    margin-left: 0px;
  }
}
@media (max-width: 1020px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-1 {
    width: 210px;
  }
}
@media (max-width: 760px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-1 {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 3.5em;
    width: 100%;
  }
  /* line 87, ../../_compass/_layout.scss */
  .column-1:last-child {
    margin-bottom: 0;
  }
}

/* line 74, ../../_compass/_layout.scss */
.column-2 {
  float: left;
  margin-left: 45px;
  width: 625px;
}
@media (max-width: 1020px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-2 {
    margin-left: 35px;
  }
}
@media (max-width: 760px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-2 {
    margin-left: 0px;
  }
}
@media (max-width: 1020px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-2 {
    width: 455px;
  }
}
@media (max-width: 760px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-2 {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 3.5em;
    width: 100%;
  }
  /* line 87, ../../_compass/_layout.scss */
  .column-2:last-child {
    margin-bottom: 0;
  }
}

/* line 74, ../../_compass/_layout.scss */
.column-3 {
  float: left;
  margin-left: 45px;
  width: 960px;
}
@media (max-width: 1020px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-3 {
    margin-left: 35px;
  }
}
@media (max-width: 760px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-3 {
    margin-left: 0px;
  }
}
@media (max-width: 1020px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-3 {
    width: 700px;
  }
}
@media (max-width: 760px) {
  /* line 74, ../../_compass/_layout.scss */
  .column-3 {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 3.5em;
    width: 100%;
  }
  /* line 87, ../../_compass/_layout.scss */
  .column-3:last-child {
    margin-bottom: 0;
  }
}

/* line 95, ../../_compass/_layout.scss */
.offset-1 {
  margin-left: 380px;
}
@media (max-width: 1020px) {
  /* line 95, ../../_compass/_layout.scss */
  .offset-1 {
    margin-left: 280px;
  }
}
@media (max-width: 760px) {
  /* line 95, ../../_compass/_layout.scss */
  .offset-1 {
    margin-left: 0;
  }
}

/* line 95, ../../_compass/_layout.scss */
.offset-2 {
  margin-left: 715px;
}
@media (max-width: 1020px) {
  /* line 95, ../../_compass/_layout.scss */
  .offset-2 {
    margin-left: 525px;
  }
}
@media (max-width: 760px) {
  /* line 95, ../../_compass/_layout.scss */
  .offset-2 {
    margin-left: 0;
  }
}

/* line 112, ../../_compass/_layout.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
@media (max-width: 1020px) {
  /* line 112, ../../_compass/_layout.scss */
  .container {
    width: 700px;
  }
}
@media (max-width: 760px) {
  /* line 112, ../../_compass/_layout.scss */
  .container {
    width: auto;
    margin: 0 30px;
  }
}

/* line 6, ../../_compass/screen.scss */
body {
  background-color: #f2f2f2;
  font-family: "Hind";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3em;
}
/* line 13, ../../_compass/screen.scss */
body > header {
  background-color: #0065bd;
}
/* line 16, ../../_compass/screen.scss */
body > header .row {
  padding-bottom: 16px;
}

/* line 22, ../../_compass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 26, ../../_compass/screen.scss */
ul {
  margin-left: 1.5em;
  list-style-type: disc;
  margin-bottom: 1.5em;
}

/* line 32, ../../_compass/screen.scss */
i {
  font-style: italic;
}

/* line 36, ../../_compass/screen.scss */
b {
  font-weight: bold;
}

/* line 40, ../../_compass/screen.scss */
a {
  color: #115EA1;
  text-decoration: none;
}
/* line 44, ../../_compass/screen.scss */
a:hover {
  text-decoration: underline;
}
/* line 48, ../../_compass/screen.scss */
a.button {
  color: #fff;
  background-color: #CD220C;
  padding: 2px 12px;
  border-radius: 4px;
}

/* line 56, ../../_compass/screen.scss */
h1.title {
  width: 140px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  line-height: 1em;
}
/* line 64, ../../_compass/screen.scss */
h1.title span {
  display: block;
  text-transform: lowercase;
  font-size: 32px;
  font-weight: 300;
  line-height: 0.8em;
}

/* line 73, ../../_compass/screen.scss */
section h1 {
  margin-bottom: 12px;
  font-family: "Raleway";
  font-weight: 200;
  text-transform: uppercase;
}

/* line 80, ../../_compass/screen.scss */
.sponsors {
  text-align: center;
}
/* line 83, ../../_compass/screen.scss */
.sponsors ul {
  margin-left: 0;
  list-style-type: none;
}
/* line 87, ../../_compass/screen.scss */
.sponsors ul li {
  margin-top: 20px;
}
/* line 90, ../../_compass/screen.scss */
.sponsors ul li img {
  width: 100%;
  max-width: 250px;
}

/* line 98, ../../_compass/screen.scss */
ul.social {
  overflow: hidden;
  *zoom: 1;
  margin-top: 24px;
  margin-left: 0;
  list-style-type: none;
}
/* line 104, ../../_compass/screen.scss */
ul.social li {
  float: left;
  margin-right: 16px;
}
/* line 108, ../../_compass/screen.scss */
ul.social li img {
  width: 48px;
}

/* line 116, ../../_compass/screen.scss */
section.upcoming hgroup h2, section.previous hgroup h2 {
  margin-bottom: 8px;
  font-family: "Raleway";
  font-weight: 200;
  text-transform: uppercase;
}
/* line 123, ../../_compass/screen.scss */
section.upcoming hgroup h1, section.previous hgroup h1 {
  margin-bottom: 16px;
  font-family: "Raleway";
  font-weight: 200;
  font-size: 32px;
  text-transform: none;
  line-height: 1.1em;
}

/* line 134, ../../_compass/screen.scss */
section.upcoming {
  background-color: #ddd;
  color: #000;
}

/* line 139, ../../_compass/screen.scss */
.location {
  margin-bottom: 32px;
}
/* line 142, ../../_compass/screen.scss */
.location img {
  position: relative;
  top: 3px;
  margin: 0 2px 0 2px;
}

/* line 150, ../../_compass/screen.scss */
.map a {
  width: 100%;
  height: 276px;
  max-width: 625px;
  display: block;
  border: 8px solid #cbcbcb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=55.949827,-3.187285&zoom=12&size=609x260");
  background-position: center;
}

/* line 164, ../../_compass/screen.scss */
.thumbnail {
  width: 100%;
  margin-bottom: 1em;
  border: 8px solid #e2e2e2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 172, ../../_compass/screen.scss */
.thumbnail.mini {
  width: 120px;
  border: 4px solid #e2e2e2;
  margin-right: 16px;
  opacity: 0.5;
}
/* line 178, ../../_compass/screen.scss */
.thumbnail.mini:hover {
  opacity: 1;
}

/* line 184, ../../_compass/screen.scss */
.column-2 .column-1:first-child {
  margin-left: 0;
}
