---
layout: default
title: Companies
---
<section class="container">
	<h1>Companies</h1>
	<p>Add companies to <a href="https://find.techin.scot/companies/">Tech In Scotland's companies directory</a> and <b>ensure the company is marked as using C++</b>. Changes to that directory should appear here within 48 hours. Any problems, contact us by <a href="mailto:cppedinburgh@gmail.com">email</a> or <a href="https://twitter.com/cppedinburgh">Twitter</a>.</p>
	<ul class="mentors">
{% for company in site.data.companies %}
		<li class="item">
			<div class="details">
				<h2>{{ company.name }}</h1>
				<p><span class="fas fa-map-marker-alt"></span> {{ company.address }}</p>
				<ul>
	{% for link in company.links %}
					<li><a href="{{ link.url }}">{{ link.name }}</a></li>
	{% endfor %}
				</ul>
			</div>
			<div class="description">
				<p>{{ company.description }}</p>
			</div>
		</li>
{% endfor %}
	</ul>
</div>
