---
layout: default
---
			<div class="container">
				<div class="row">
					<div class="column-4">
						<h1>Meet-ups</h1>
						<p>Join us at C++ Edinburgh for some great talks and to hang out with local C++ developers. Everyone's welcome!</p>
						<p><b>To find out about our next meet-ups</b>, join us on <a href="https://www.meetup.com/cppedinburgh/">Meetup.com</a> or our <a href="https://groups.google.com/forum/#!forum/cppedinburgh">mailing list</a> or follow us on <a href="http://twitter.com/cppedinburgh">Twitter</a> or <a href="https://plus.google.com/103727381682703513095">Google+</a>.</p>
						<p><b>Interested in doing a talk?</b> Whether you have some interesting C++ experiences or projects or would just like to spread some knowledge, we'd love to have you as a speaker! No need to be an expert &mdash; C++ Edinburgh is a friendly environment and great opportunity to practise your presentation skills and get feedback. If you'd like to do a talk, <a href="http://goo.gl/forms/QrOJuHCe87">let us know</a>!</p>
					</div>
					<section class="column-2 sponsors">
						<h1>Thanks to our sponsors</h1>
						<ul>
							<li><a href="https://www.codeplay.com/"><img src="/images/codeplay.png" alt="CodePlay"></a></li>
							<li><a href="http://www.tmvse.com/"><img src="/images/toshiba-medical.png" alt="Toshiba Medical"></a></li>
						</ul>
					</section>
				</div>
			</div>
			<section class="upcoming">
{% assign upcoming = site.data.events.upcoming %}
				<div class="container">
					<div class="row">
						<div class="column-2">
							<hgroup>
								<h2>Upcoming meet-up</h2>
								<h1 datetime="{{ upcoming.datetime | date_to_xmlschema }}">
{% assign day = upcoming.datetime | date: "%-d"  %}
{% case day %}
	{% when '1' or '21' or '31' %}{{ day }}st
	{% when '2' or '22' %}{{ day }}nd
	{% when '3' or '23' %}{{ day }}rd
	{% else %}{{ day }}th
{% endcase %}
{{ upcoming.datetime | date: "%B %Y" }}
								</h1>
							</hgroup>
							<p class="location">7pm at <img src="/images/location.png" alt="Location:"> <a href="{{ upcoming.location.map_url }}">{{ upcoming.location.name }}</a></p>
							<p><a href="https://www.meetup.com/cppedinburgh/events/237858698/">RSVP on Meetup.com</a>. Free entry. Food and refreshments provided.</p>
							<ul>
								<li>Composable GPU Programming with Eager Actions and Lazy Views &mdash; <i>Michel Steuwer, University of Edinburgh</i></li>
								<li>Why the compiler broke your program &mdash; <i>Peter Brett, LiveCode</i></li>
								<li>C++ Binary Dependency Management Using Gradle &mdash; <i>Hugh Greene, Toshiba Medical</i></li>
							</ul>
						</div>
						<div class="column-4 map">
							<a href="{{ upcoming.location.map_url }}"></a>
						</div>
					</div>
				</div>
			</section>
			<section class="container previous">
{% for event in site.data.events.previous %}
	{% assign timestamp = event.datetime | date: "%Y%m" %}
				<div class="row">
					<div class="column-2">
						<hgroup>
							<h1 datetime="{{ event.datetime | date_to_xmlschema }}">
	{% assign day = event.datetime | date: "%-d"  %}
	{% case day %}
		{% when '1' or '21' or '31' %}{{ day }}st
		{% when '2' or '22' %}{{ day }}nd
		{% when '3' or '23' %}{{ day }}rd
		{% else %}{{ day }}th
	{% endcase %}
	{{ event.datetime | date: "%B %Y" }}
							</h1>
						</hgroup>
						<p class="location"><img src="/images/location.png" alt="Location:"> <a href="{{ event.location.map_url }}">{{ event.location.name }}</a></p>
	{% if event.intro_talks == null %}
		{% if event.talks != null %}
						<a href="/slides/{{ timestamp }}-intro.pdf"><img class="thumbnail mini" src="/images/thumbnails/201503-welcome-to-cpp-edinburgh.png" alt="Slides for Welcome to C++ Edinburgh"></a>
		{% endif %}
	{% else %}
		{% for intro_talk in event.intro_talks %}
						<a href="/slides/{{ timestamp }}-{{ intro_talk.id }}.pdf"><img class="thumbnail mini" src="/images/thumbnails/{{ timestamp }}-{{ intro_talk.id }}.png" alt="Slides for {{ intro_talk.title }}"></a>
		{% endfor %}
	{% endif %}
					</div>
					<div class="column-4">
	{% if event.talks != null %}
		{% for talk in event.talks %}
						<div class="column-2">
			{% if talk.url == null %}
				{% capture talk_url %}/slides/{{ timestamp }}-{{ talk.id }}.pdf{% endcapture %}
			{% else %}
				{% assign talk_url = talk.url %}
			{% endif %}
			{% if talk.link == null %}
				{% assign link = "" %}
			{% else %}
				{% capture link %}(<a href="{{ talk.link.url }}">{{ talk.link.title }}</a>){% endcapture %}
			{% endif %}
							<a href="{{ talk_url }}"><img class="thumbnail" src="/images/thumbnails/{{ timestamp }}-{{ talk.id }}.png" alt="Slides for {{ talk.title }}"></a>
							<p><a href="{{ talk_url }}">{{ talk.title }}</a> {{ link }} &mdash; <i>{{ talk.speaker }}</i></p>
						</div>
		{% endfor %}
	{% endif %}
					</div>
				</div>
{% endfor %}
			</section>
