---
layout: default
---
<div class="introduction">
	<div>
		<p>We bring Edinburgh's C++ developer community together by hosting meet-ups for knowledge sharing and networking, providing information on the local industry, and promoting the work of our fellow C++ developers.</p>
		<p>Everyone's welcome in our community, regardless of experience or background! Help us to be as friendly and inclusive as possible by taking a look at our <a href="#">Code of Conduct</a>.</p>
		<div class="sponsors">
			<p>Thanks to our sponsors</p>
			<a href="https://www.codeplay.com/"><img src="/images/codeplay.png" alt="CodePlay"></a> <a href="https://research.eu.medical.canon/"><img src="/images/canon.png" alt="Canon Medical Research Europe Ltd."></a>
		</div>
	</div>
</div>
<div class="container">
	<section id="upcoming">
{% assign upcoming = site.data.events.upcoming %}
		<h1>Upcoming event</h1>
		<div class="item">
			<div class="details">
				<ul class="icon-list">
					<li>
						<span class="fas fa-calendar-alt"></span>
						<p>
							<time datetime="{{ upcoming.datetime | date_to_xmlschema }}">
{{ upcoming.datetime | date: "%l%P on %A" }}
{% assign day = upcoming.datetime | date: "%-d"  %}
{% case day %}
	{% when '1' or '21' or '31' %}{{ day }}st
	{% when '2' or '22' %}{{ day }}nd
	{% when '3' or '23' %}{{ day }}rd
	{% else %}{{ day }}th
{% endcase %}
{{ upcoming.datetime | date: "%B %Y" }}
							</time>
						</p>
					</li>
					<li>
						<span class="fas fa-map-marker-alt"></span>
						<p><a href="{{ upcoming.location.map.url }}">Codeplay, Level C, Argyle House, Lady Lawson St., EH3 9DR</a></p>
					</li>
				</ul>
				<a href="{{ upcoming.location.map.url }}"class="map"><img src="https://maps.googleapis.com/maps/api/staticmap?center=55.9464558,-3.2020719&zoom=14&size=320x130&markers=55.9464558,-3.2020719&key=AIzaSyCwN-dmb9BjYv3mM1siiyNVxAtwktCJ7Nk"></a>
			</div>
			<div class="description">
				{{ upcoming.details }}
				<a href="https://www.meetup.com/cppedinburgh/events/{{ upcoming.meetup_id }}/" class="meetup"><span class="fab fa-meetup"></span> Let us know you're coming</a>
			</div>
		</div>
	</section>
	<section class="past-events">
		<h1>Past events</h1>
{% for event in site.data.events.previous %}
	{% assign timestamp = event.datetime | date: "%Y%m" %}
		<div class="item">
			<div class="details">
				<ul class="icon-list">
					<li>
						<span class="fas fa-calendar-alt"></span>
						<p>
							<time datetime="{{ event.datetime | date_to_xmlschema }}">
{% assign day = event.datetime | date: "%-d"  %}
{% case day %}
	{% when '1' or '21' or '31' %}{{ day }}st
	{% when '2' or '22' %}{{ day }}nd
	{% when '3' or '23' %}{{ day }}rd
	{% else %}{{ day }}th
{% endcase %}
{{ event.datetime | date: "%B %Y" }}
							</time>
						</p>
					</li>
					<li>
						<span class="fas fa-map-marker-alt"></span>
						<p><a href="{{ event.location.map.url }}">Codeplay, Level C, Argyle House, Lady Lawson St., EH3 9DR</a></p>
					</li>
				</ul>
			</div>
			<div class="description">
	{% if event.talks != null %}
				<div class="gallery">
		{% for talk in event.talks %}
			{% capture slides_url %}/slides/{{ timestamp }}-{{ talk.id }}.pdf{% endcapture %}
			{% if talk.url == null %}
				{% if talk.youtube_id == null %}
					{% assign talk_url = slides_url %}
				{% else %}
					{% capture talk_url %}https://www.youtube.com/watch?v={{ talk.youtube_id }}{% endcapture %}
				{% endif %}
			{% else %}
				{% assign talk_url = talk.url %}
			{% endif %}
			{% if talk.youtube_id == null %}
				{% assign slides_link = "" %}
			{% else %}
				{% capture slides_link %}(<a href="{{ slides_url }}">slides</a>){% endcapture %}
			{% endif %}
			{% if talk.link == null %}
				{% assign link = "" %}
			{% else %}
				{% capture link %}(<a href="{{ talk.link.url }}">{{ talk.link.title }}</a>){% endcapture %}
			{% endif %}
					<div>
						<a href="{{ talk_url }}">
							<div class="thumbnail {% if talk.youtube_id != null %}video{% endif %}">
								<img src="/images/thumbnails/{{ timestamp }}-{{ talk.id }}.png" alt="Slides for {{ talk.title }}">
							</div>
						</a>
					</div>
		{% endfor %}
				</div>
	{% endif %}
				<a href="https://www.meetup.com/cppedinburgh/events/{{ upcoming.meetup_id }}/" class="meetup secondary"><span class="fab fa-meetup"></span> More details</a>
			</div>
		</div>
{% endfor %}
	</section>
</div>
