---
layout: default
---
			<div class="container">
				<div class="row mentorships">
					<div class="column-6">
						<h1>Mentorships</h1>
					</div>
					<div class="column-3">
						<h2>Looking for a mentor?</h2>
						<p>We want to help you learn and grow as a C++ developer. Having a personal mentor that can give you guidance and share their expertise can make a big difference on your C++ journey.</p>
						<p>Regardless of your experience, please get in touch. If you have a mentor in mind from the list below, feel free to contact them directly. Otherwise, submit this short form and we'll help you find someone:<p>
						<p class="button-container"><a href="https://cppedinburgh.typeform.com/to/riF7zb " class="button">Find me a mentor!</a></p>
						<p>Alternatively, contact us directly via <a href="mailto:cppedinburgh@gmail.com">email</a> or <a href="https://twitter.com/cppedinburgh">Twitter</a>. All we need is a short introduction to yourself and the areas in which your interests lie.</p>
					</div>
					<div class="column-3">
						<h2>Thinking of mentoring?</h2>
						<p>If you'd like to impart your C++ knowledge and experience to help out the local C++ community, why not sign up as a mentor? It'll be a great experience for both you and your mentee.</p>
						<p>We'll help to pair you up with a mentee &mdash; all you need to do is submit this short form:</p>
						<p class="button-container"><a href="https://cppedinburgh.typeform.com/to/YCAPwf" class="button">I'd like to be a mentor!</a></p>
						<p>Alternatively, contact us directly via <a href="mailto:cppedinburgh@gmail.com">email</a> or <a href="https://twitter.com/cppedinburgh">Twitter</a>. All we need is a short introduction to yourself and a bit of information about your experience and which areas you'd like to help with.</p>
					</div>
				</div>
				<div class="row">
					<div class="column-6">
						<h2>Mentors</h2>
						<ul class="mentors">
{% for mentor in site.data.mentors %}
							<li>
								<section class="row">
									<div class="column-2">
										<h1>{{ mentor.name }}</h1>
										<p>{{ mentor.position }}</p>
										<ul>
	{% for link in mentor.links %}
											<li><a href="{{ link.url }}">{{ link.name }}</a></li>
	{% endfor %}
										</ul>
									</div>
									<div class="column-4">
										<p>{{ mentor.bio }}</p>
									</div>
								</section>
							</li>
{% endfor %}
						</ul>
					</div>
				</div>
			</div>
                        <script src="js/shuffle_mentors.js"/>
