---
layout: default
title: Mentorships
---
<section class="container">
	<h1>Mentorships</h1>
	<p>If you're <b>looking for advice or support</b> about anything C++ related, our mentors will be happy to impart their knowledge and experience! Simply find a mentor with the relevant experience and get in touch with them, and they'll get back to you when they can.</p>
	<p>If you're <b>not sure who to get in touch with</b>, contact the C++ Edinburgh team via <a href="mailto:cppedinburgh@gmail.com">email</a> or <a href="https://twitter.com/cppedinburgh">Twitter</a>, and we'll give you a hand in finding someone with the right experience to help you.</p>
	<p><b>Want to join this list?</b> Help out the local C++ community by <a href="https://cppedinburgh.typeform.com/to/YCAPwf">joining us as a mentor</a>, so that people can get in touch with you for help and advice.</p>
	<p>Of course, we expect both parties to behave responsibly and in a friendly and inclusive manner according to our <a href=/code-of-conduct.html>Code of Conduct</a>.</p>
	<ul class="mentors">
{% for mentor in site.data.mentors %}
		<li class="item">
			<div class="details">
				<h2>{{ mentor.name }}</h2>
				<p>{{ mentor.position }}</p>
				<ul>
	{% for link in mentor.links %}
					<li><a href="{{ link.url }}">{{ link.name }}</a></li>
	{% endfor %}
				</ul>
			</div>
			<div class="description">
				<p>{{ mentor.bio }}</p>
			</div>
		</li>
{% endfor %}
	</ul>
</section>
