---
layout: default
---
			<div class="container">
				<div class="row">
					<div class="column-3">
						<h1>Volunteers</h1>
						C++ Edinburgh is organised by volunteers. If you'd like to help out, <a href="#">please get in touch</a>. If you're thinking of doing a talk, <a href="http://goo.gl/forms/QrOJuHCe87">please submit the relevant form</a>.
					</div>
				</div>
				<div class="row volunteers">
{% for volunteer in site.data.volunteers %}
					<section class="column-1">
						<div class="profile-photo"><img src="{{ volunteer.photo_url }}"></div>
						<h1>{{ volunteer.name }}</h1>
						<ul>
	{% for link in volunteer.links %}
							<li><a href="{{ link.url }}">{{ link.name }}</a></li>
	{% endfor %}
						</ul>
					</section>
{% endfor %}
				</div>
			</div>
