$size-names: normal, thin, flow, tiny;
$size-upper-limit: 10000px, 1020px, 760px, 400px;
$size-page-width: 963px, 703px, auto;
$size-column-width: 123px, 88px, 100%;
$size-gutter-width: 45px, 35px, 0px;

@function upper-limit($size) {
	@return nth($size-upper-limit, index($size-names, $size));
}

@function page-width($size) {
	@return nth($size-page-width, index($size-names, $size));
}

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin center {
	margin: 0 auto;
}
