<!doctype html>
<html lang="en">
	<head>
		<title>C++ Edinburgh</title>
		<meta charset="utf-8">
		<meta name="description" content="Meet up with fellow C++ developers in Edinburgh for talks, socialising, and networking">
		<meta name="author" content="Joseph Mansfield">
		<link rel="stylesheet" href="/css/screen.css" type="text/css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Hind:400,300,600,500|Raleway:200" type="text/css">
		<link rel="icon" sizes="16x16" type="image/vnd.microsoft.icon" href="/images/icon-16.ico">
		<link rel="icon" sizes="32x32" type="image/vnd.microsoft.icon" href="/images/icon-32.ico">
		<meta name=viewport content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<hgroup class="column-2">
						<h1 class="title"><a href="/">C++ <span>Edinburgh</span></a></h1>
					</hgroup>
					<div class="column-4">
						<ul class="social">
							<li><a href="https://www.meetup.com/cppedinburgh/"><img src="/images/meetup.svg" alt="Meetup.com"></a></li>
							<li><a href="https://twitter.com/cppedinburgh"><img src="/images/twitter.svg" alt="Twitter"></a></li>
							<li><a href="https://www.youtube.com/channel/UC3MI-cTQcGTkwWsf6z0hldQ"><img src="/images/youtube.svg" alt="YouTube"></a></li>
							<li><a href="https://groups.google.com/forum/#!forum/cppedinburgh"><img src="/images/email.svg" alt="Mailing List"></a></li>
						</ul>
						<nav>
							<ul>
								<li><a href="/">Meet-ups</a></li>
								<li><a href="/mentors.html">Mentors</a></li>
								<li><a href="/volunteers.html">Volunteers</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main>
{{ content }}
		</main>
		<script async>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-17335804-4', 'auto');
ga('send', 'pageview');
		</script>
	</body>
</html>
